/* .about-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);

  overflow: hidden;
  text-align: center;
}

.about-wrapper {
  padding-bottom: 50px;
} */
